<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link SDK Demo</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
      .btn-demo {
        display: inline-block;
        position: sticky;
        top: 16px;
        width: auto;
        margin-right: 28px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Link Quickstart</h1>
        <p>
          This is a minimal app that implements Deck using a very basic HTML/vanilla JS frontend with an Flask/Python backend. 
          After linking a sample utility account, the app retrieves information associated with the account and renders it on the home page.
        </p>
      </hgroup>

      <button class="btn-demo" onClick="startLink()">Link Account</button>
      <pre class="js-events"></pre>

      <div style="height: 1200px"></div>
      <p>This long space demonstrates that scrolling is disabled while the iframe is open.</p>
    </main>

    <script src="https://link.deck.co/link-initialize.js"></script>
    <script src="static/index.js"></script>
  </body>
</html>