@page
@model Datadeck.Samples.Integration.DotNetCore.Pages.ThanksModel
@{
}

<h1>
    Thanks for connecting your account!
</h1>
<p>
    You can
    <a asp-area="" asp-page="/Data">view the corresponding data</a> with the access token displayed in the console window.
</p>